.list-container{
    list-style-type: none;
    width:100%;
    max-width:268px;
    margin-right: 20px;
    margin-bottom: 30px;
} 

.image-container{
    border: 2px solid gray;
   } 

.add-cart-button{
    color:#fff;
    background-color: #276211;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.view-btn{
    width:264px;
    background-color: #276211;
    color:#fff;
    border: none;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img{
    width:260px;
    max-height: 250px;
}

.close-button{
    color:#fff;
    border:none;
    background-color: #276211;
    margin-right: 25px;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
} 

.confirm-button{
    margin-right: 25px;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    color:#276211;
}

.product-details-card{
    display: flex;
} 

.card-details-view{
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.image-view{
    width:150px;
    margin-right: 40px;
} 

.product-name-text{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0px;
}
.price{
    color:#5A5A5A;
    margin-top: 0px;
}