.thanks-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
   
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
    width: 500px;
    padding: 25px;
    margin-top: 45px;
}

.tick{
    background-color:#276221;
    padding: 10px;
    color:#fff;
    border-radius: 40px;
}

.thanks-page-btn{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color:#fff;
    width:200px;
    border: none;
    font-size: 14px;
    background-color: #276221;
}
.para{
    color:#276221;
    font-size: 16px;
    font-weight: 600;
}